/node_modules
/public/hot
/public/css/filament
/public/css/awcodes
/public/css/lunarphp
/public/js/filament
/public/js/app/components
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
.lando.local.yml
composer.lock
package-lock.json
yarn.lock
public/build
meilisearch/
.phpunit.cache/test-results
